.checkout-header {
  width: 60%;
  padding: 10px 0 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px double #000;

  .header-block {
    :first-of-type {
      margin-left: 10px;
    }
    text-transform: capitalize;
  }
}
