@import '../../assets/styles/responsive';


.shopPage-container {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



// Mobile

@include breakpoint('mobile') {
  .shopPage-container {
    width: 100vw;
  }
}