.header-container {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding: 60px 75px;
  margin: 0;
  // justify-content: space-between;

  .logo {
    background-image: url(../../assets/logo.png);
    width: 137px;
    height: 55px;
    background-position: center;
    background-size: cover;
  }

  .nav-bar {

    .nav-option {

    }
  }

  .btn-group {

    .header-button-discount {}
    .header-button-new {}
  }
}


